<a href="https://colab.research.google.com/github/saivikaskondamidi/Vikas_data_690/blob/main/assignment_03/assignment_03hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problems

**1. Write a program that generates 100 random integers between 0 and 9.**

**Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):**

In [2]:
import random

In [3]:
for i in range(10):
  for j in range(10):
    print(random.randint(0,9), end = " ")
  print("\n", end= "")

1 9 2 2 6 3 8 3 2 4
2 0 4 5 9 1 2 8 0 9
3 1 4 9 8 8 9 7 0 1
5 1 9 6 1 4 8 0 7 2
1 7 7 2 4 3 9 5 1 6
5 7 7 6 3 0 7 9 4 1
7 2 3 3 1 2 6 8 7 7
5 6 4 2 1 6 1 8 4 9
6 1 9 4 7 8 5 8 0 5
2 6 3 0 2 0 6 1 6 2

**2. Random numbers which are odd , replaced by @**

In [14]:
for i in range(10):
  for j in range(10):
    r = random.randint(0,9)
    if r % 2 !=0:
      print("@", end = " ")
    else:
      print(r, end=" ")
  print("\n", end ="")

8 @ 2 @ @ @ @ 4 @ @
6 2 @ 2 8 0 4 0 0 @
4 @ 2 8 @ 8 @ 8 @ 4
@ 6 @ 6 @ 2 @ @ @ @
@ 4 4 @ @ @ @ @ 2 8
@ @ @ 2 @ @ 0 @ 6 @
4 6 @ 6 @ 0 @ @ @ 2
6 @ @ @ @ @ 8 @ @ 2
6 6 4 @ 4 4 8 0 @ @
@ @ @ 0 2 @ 6 8 8 0

**3. Total numbers are printed at the end**

In [19]:
for i in range(10):
  total =0
  for j in range(10):
    r = random.randint(0,9)
    total = total + r
    print(r, end=" ")
  print("*", end=" ")
  print(total, end=" ")
  print("\n", end="")

8 2 6 4 3 0 4 5 4 1 * 37
0 0 4 1 9 8 9 9 0 6 * 46
0 8 1 8 0 7 5 7 1 7 * 44
1 1 8 7 6 5 2 7 0 9 * 46
8 6 9 4 4 5 2 7 2 8 * 55
2 4 8 6 9 3 6 1 8 7 * 54
3 3 0 1 9 3 6 1 5 0 * 31
0 4 3 0 3 1 0 3 2 6 * 22
6 3 5 0 6 2 5 0 6 1 * 34
9 2 9 3 9 3 9 8 6 8 * 66

**4. Surround the matrix with asterisks (*)**

In [42]:
print("***********************")

for i in range(10):
  print("*", end=" ")
  for j in range(10):
    r = random.randint(0,9)
    print(r, end=" ")
  print("*")

print("***********************")

***********************
* 7 5 1 9 9 4 7 4 0 5 *
* 0 4 6 3 6 5 4 9 0 4 *
* 0 5 0 4 2 7 5 3 7 7 *
* 5 3 5 4 8 8 2 5 6 3 *
* 9 8 8 5 0 6 8 2 2 0 *
* 0 6 4 7 8 0 5 6 6 9 *
* 3 9 9 6 2 5 9 4 7 2 *
* 0 0 8 1 8 3 7 6 6 9 *
* 4 3 3 7 4 3 6 6 0 4 *
* 6 7 8 2 3 0 5 9 3 0 *
***********************

**5. Calculate and Print the total of each row and column**

In [91]:
new = [0]*10
for i in range(10):
  total =0
  for j in range(10):
    r = random.randint(0,9)
    total = total + r
    new[j] = new[j] + r
    print(r, end="  ")
  print("*", end="  ")
  print(total, end="  ")
  print("\n", end="")

for i in range(10):
  print("*", end="  ")
print("\n", end="")
for j in range(10):
  r = random.randint(0,9)
  print(new[j], end=" ")

8  7  9  9  4  6  4  3  2  5  *  57
4  6  4  7  2  4  5  9  1  5  *  47
9  7  4  6  2  5  3  5  5  2  *  48
7  2  1  4  3  5  3  1  4  1  *  31
4  1  5  6  2  5  9  8  5  6  *  51
1  1  2  1  4  3  7  8  2  0  *  29
7  4  6  2  4  3  0  4  1  7  *  38
2  5  6  1  4  2  0  2  3  6  *  31
8  0  3  8  9  1  2  8  7  0  *  46
3  3  4  0  7  8  7  3  8  3  *  46
*  *  *  *  *  *  *  *  *  *
53 36 44 44 41 42 40 51 38 35