<a href="https://colab.research.google.com/github/saivikaskondamidi/Vikas_data_690/blob/main/assignment_04/Inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In class Practice

- Date: 02/21/22
- Name:**Sai Vikas Kondamidi**

In [42]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 0 @ @ 0 @ @ @ @ 4 8
 0 @ @ 8 4 6 @ @ @ @
 @ @ 0 @ 4 6 6 6 8 0
 4 6 @ 2 @ 4 6 6 @ 2
 @ @ 8 0 @ @ @ @ @ 0
 2 @ @ 6 4 @ @ @ @ @
 @ @ @ 8 @ @ @ @ @ @
 4 6 4 6 @ @ @ 4 @ 2
 6 4 @ 8 @ 4 2 2 @ @
 4 @ @ 4 6 4 @ @ @ 2

In [43]:
x = "Hello,wporld!"

print(x)

Hello,wporld!

In [44]:
x = x.replace("p", "")

print(x)

Hello,world!

In [45]:
x = x.replace("Hello", "Hi")

print(x)

Hi,world!

In [46]:
x = x.replace("w", "W")

print(x)

Hi,World!

In [47]:
x = x.upper()

print(x)

HI,WORLD!

In [48]:
x = x.lower()

print(x)

hi,world!

# String functions/methods/operations

- upper()
- lower()
- strip()
- lstrip()
- rstrip()

In [49]:
# generate 100 numbers first
numbers= []
for i in range(100):
  numbers.append(random.randint(0,9))

print(numbers)
print(len(numbers))

[3, 9, 5, 4, 8, 0, 2, 9, 2, 9, 9, 8, 0, 0, 0, 7, 4, 2, 6, 8, 3, 1, 2, 8, 6, 5, 0, 7, 4, 5, 3, 3, 4, 9, 6, 5, 6, 3, 3, 9, 0, 3, 2, 4, 3, 5, 8, 8, 4, 0, 4, 6, 8, 0, 2, 0, 1, 0, 8, 6, 8, 2, 2, 0, 4, 2, 1, 0, 8, 6, 9, 6, 6, 0, 9, 1, 7, 8, 3, 5, 1, 6, 0, 1, 4, 0, 3, 4, 9, 1, 2, 6, 4, 8, 6, 5, 0, 0, 5, 3]
100

In [50]:
print(numbers[0])

3

In [51]:
for i in range(0,100,1):
  print("index = ",i,"numbers = ",numbers[i])

index =  0 numbers =  3
index =  1 numbers =  9
index =  2 numbers =  5
index =  3 numbers =  4
index =  4 numbers =  8
index =  5 numbers =  0
index =  6 numbers =  2
index =  7 numbers =  9
index =  8 numbers =  2
index =  9 numbers =  9
index =  10 numbers =  9
index =  11 numbers =  8
index =  12 numbers =  0
index =  13 numbers =  0
index =  14 numbers =  0
index =  15 numbers =  7
index =  16 numbers =  4
index =  17 numbers =  2
index =  18 numbers =  6
index =  19 numbers =  8
index =  20 numbers =  3
index =  21 numbers =  1
index =  22 numbers =  2
index =  23 numbers =  8
index =  24 numbers =  6
index =  25 numbers =  5
index =  26 numbers =  0
index =  27 numbers =  7
index =  28 numbers =  4
index =  29 numbers =  5
index =  30 numbers =  3
index =  31 numbers =  3
index =  32 numbers =  4
index =  33 numbers =  9
index =  34 numbers =  6
index =  35 numbers =  5
index =  36 numbers =  6
index =  37 numbers =  3
index =  38 numbers =  3
index =  39 numbers =  9
index =  40 numbers =  0
index =  41 numbers =  3
index =  42 numbers =  2
index =  43 numbers =  4
index =  44 numbers =  3
index =  45 numbers =  5
index =  46 numbers =  8
index =  47 numbers =  8
index =  48 numbers =  4
index =  49 numbers =  0
index =  50 numbers =  4
index =  51 numbers =  6
index =  52 numbers =  8
index =  53 numbers =  0
index =  54 numbers =  2
index =  55 numbers =  0
index =  56 numbers =  1
index =  57 numbers =  0
index =  58 numbers =  8
index =  59 numbers =  6
index =  60 numbers =  8
index =  61 numbers =  2
index =  62 numbers =  2
index =  63 numbers =  0
index =  64 numbers =  4
index =  65 numbers =  2
index =  66 numbers =  1
index =  67 numbers =  0
index =  68 numbers =  8
index =  69 numbers =  6
index =  70 numbers =  9
index =  71 numbers =  6
index =  72 numbers =  6
index =  73 numbers =  0
index =  74 numbers =  9
index =  75 numbers =  1
index =  76 numbers =  7
index =  77 numbers =  8
index =  78 numbers =  3
index =  79 numbers =  5
index =  80 numbers =  1
index =  81 numbers =  6
index =  82 numbers =  0
index =  83 numbers =  1
index =  84 numbers =  4
index =  85 numbers =  0
index =  86 numbers =  3
index =  87 numbers =  4
index =  88 numbers =  9
index =  89 numbers =  1
index =  90 numbers =  2
index =  91 numbers =  6
index =  92 numbers =  4
index =  93 numbers =  8
index =  94 numbers =  6
index =  95 numbers =  5
index =  96 numbers =  0
index =  97 numbers =  0
index =  98 numbers =  5
index =  99 numbers =  3

In [52]:
count= 0
for i in range(10):
  for j in range(10):
    print(numbers[count]," ", end =" ")
    count+=1
  print("\n")

3   9   5   4   8   0   2   9   2   9

9   8   0   0   0   7   4   2   6   8

3   1   2   8   6   5   0   7   4   5

3   3   4   9   6   5   6   3   3   9

0   3   2   4   3   5   8   8   4   0

4   6   8   0   2   0   1   0   8   6

8   2   2   0   4   2   1   0   8   6

9   6   6   0   9   1   7   8   3   5

1   6   0   1   4   0   3   4   9   1

2   6   4   8   6   5   0   0   5   3

In [53]:
# when to intialize a variable

sum = 0
for n in range(10):
  for i in range(10):
    y=random.randint(0,9)
    sum=sum+y
    print(y, end=" ")
  print("*",sum,end="\n")
  sum=0

9 1 7 0 7 1 6 5 4 6 * 46
9 7 7 7 5 3 4 0 5 4 * 51
5 5 6 6 5 0 5 1 1 6 * 40
0 6 9 6 8 4 1 6 2 2 * 44
7 2 9 3 3 8 1 5 1 4 * 43
6 8 6 7 7 5 5 2 8 6 * 60
0 3 2 5 8 7 6 3 1 6 * 41
0 6 2 6 8 8 1 8 1 4 * 44
4 8 4 1 4 1 3 7 5 3 * 40
1 9 4 8 9 6 0 0 5 3 * 45

In [54]:
# when to intialize a variable

for n in range(10):
  sum=0
  for i in range(10):
    y=random.randint(0,9)
    sum=sum+y
    print(y, end=" ")
  print("*",sum,end="\n")

0 7 5 8 0 3 9 8 6 7 * 53
4 5 1 3 1 1 5 3 6 5 * 34
2 2 0 4 6 3 8 3 3 7 * 38
9 9 2 6 0 4 2 3 4 0 * 39
1 2 8 0 2 2 7 4 1 4 * 31
0 4 4 8 2 5 9 8 6 3 * 49
9 5 6 6 9 6 8 8 6 9 * 72
5 4 1 3 0 8 0 9 0 0 * 30
2 2 6 6 1 1 0 0 8 1 * 27
4 7 3 6 7 2 9 0 7 4 * 49

In [55]:
x = [0,0,0,0,0,0]

print(x)

[0, 0, 0, 0, 0, 0]

In [56]:
x = [0] * 6

print(x)

[0, 0, 0, 0, 0, 0]

In [57]:
x = [0] * 100

print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]